<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><span class="fa-solid fa-hourglass-half fa-2xl" style="color: #ecbe18;font-size: 4.5em;"></span></span>
						<h1><%= title %></h1>
						<p><strong>Welcome to First Run. Complete Steps below to finish Installation</strong></p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#first" class="active">Steps</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">


						<!-- Steps -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Steps</h2>
								</header>

                              <ul class="alt">
									<li>
                                      <h3>1. Download Root CA Certificate</h3>
										<p>You now have a Root CA certificate which Umbrel will use, for signing it SSL certificate and then in-turn to encrypt the traffic.
                                        Download it using the button below:
                                        </p>
                                        <a href="/root-ca.crt" class="button"><i class="fa-solid fa-lock" style="color: #74C0FC;"></i> Download Root CA Cert</a>
									</li>
                                    <li>
										<h3>2. Trust Root CA Certificate</h3>
										<p>When you trust the Root CA certificate, you can verify the authenticity of the traffic coming from your Umbrel.</p>
										<p>Follow the instructions for your OS/Browser from the link below and then come back to this page: </p>
                                      <a href="https://github.com/sahilph/umbrel-HTTPSizer/wiki" target="_blank" class="button primary"><i class="fa-solid fa-share"></i> View Instructions</a>
									</li>
                                   <li>
										<h3>3. Restart Umbrel <strong>(Important)</strong></h3>
										<p>After you trust the CA certificate, Restart you Umbrel Device to load the new configuration. </p>
									   	<a href="//<%= hostname_wo_port %>/settings?dialog=restart" target="_blank" class="button"><i class="fa-solid fa-arrows-rotate" style="color: #790a0a;"></i> Restart Umbrel</a>

                                   </li>
                                   <li>
										<h3>4. Test</h3>
										<p>Check the refresh button to test if https works. </p>
										<p>If refreshing does not work, then you may need to close the browser and reopen it and come back to this page.</p>
									    <a href="https://<%= hostname %>/" class="button"><i class="fa-solid fa-retweet" style="color: #035e43;"></i> Refresh</a>
                                   </li>

								</ul>
							</section>


					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy;Design By <a href="https://github.com/sahilph">Sahil Phule.</a> | Template: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>